<!doctype html>
<html lang="en" ng-app="mainApp">

<head>
    <title>e-learning platform</title>
</head>

<body style="margin-top: 80px">
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="mainCtrl">
        <div class="container">
            <!-- school name -->
            <div class="navbar-header navbar-left">
                <a ui-sref="dashboard" class="navbar-brand">{{ school.name }}</a>
            </div>
            <!-- buttons -->
            <ul class="nav navbar-nav navbar-right">
                <!-- only for non-logged users -->
                <li><a ui-sref="login" ng-if="current_user == undefined">Login</a></li>
                <li><a ui-sref="sign_up" ng-if="current_user == undefined">Sign up</a></li>
                <!-- only for school admin -->
                <li><a ui-sref="admin" ng-if="current_user.admin == true">Admin</a></li>
                <!-- only for logged users -->
                <li role="presentation" class="dropdown" ng-if="current_user != undefined">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="settings">Settings</a></li>
                        <li><a ng-show="current_user.admin == false" ui-sref="subscriptions">Subscriptions</a></li>
                    </ul>
                </li>
                <li><a style="cursor: pointer;" ng-click="logout()" ng-if="current_user != undefined">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div ui-view></div>
    <!-- AngularJS -->
    <script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
    <!-- ui-router -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/authentication.js"></script>
    <script type="text/javascript" src="js/dashboard.js"></script>
    <script type="text/javascript" src="js/course.js"></script>
    <script type="text/javascript" src="js/admin.js"></script>
    <script type="text/javascript" src="js/settings.js"></script>
    <script type="text/javascript" src="js/payments.js"></script>
    <script type="text/javascript" src="js/user_service.js"></script>
    <script type="text/javascript" src="js/school_service.js"></script>
    <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- ngFileUpload -->
    <script type="text/javascript" src="ngFileUpload/ng-file-upload.js"></script>
    <script type="text/javascript" src="ngFileUpload/ng-file-upload-shim.js"></script>
</body>
