<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Enter new credentials</h2>
        <form name="reset_password_form" role="form" ng-submit="resetPassword(new_password, confirm_new_password)">
            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" placeholder="*******" ng-model="new_password" required>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="*******" ng-model="confirm_password" required>
            </div>
            <button type="submit" ng-disabled="reset_password_form.$submitted" class="btn btn-lg btn-primary btn-block">Reset Password</button>
        </form>
        <br><br>
        <!-- success/error messages -->
        <div id="reset_alert" ng-class="reset_status" role="alert">
            <a href="#" class="alert-link">{{ reset_message }}</a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>