<div class="row" style="margin-bottom: 50px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>User Info</h2>
        <form role="form" ng-submit="updateUserData(current_user.username, current_user.current_password, current_user.password, current_user.password_confirmation, current_user.avatar.url)">
            <div class="form-group">
                <label for="user_username">Username</label>
                <input id="user_username" type="text" class="form-control" value="{{ current_user.username }}" placeholder="{{ current_user.username || 'e.g.: John Snow' }}" ng-model="current_user.username">
            </div>
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input id="new_password" type="password" class="form-control" ng-model="current_user.password">
            </div>
            <div class="form-group">
                <label for="password_confirmation">Confirm Password</label>
                <input id="password_confirmation" type="password" class="form-control" ng-model="current_user.password_confirmation">
            </div>
            <div class="form-group">
                <label for="user_avatar">User avatar</label>
                <div id="user_avatar">
                    <img ngf-thumbnail="current_user.avatar.url" class="avatar">
                </div>
                <br>
                <button type="button" ngf-select ng-model="current_user.avatar.url" accept="image/*" class="btn btn-default btn-sm">Select new image</button>
            </div>
            <button type="submit" class="btn btn-danger btn-lg">Update data</button>
        </form>
        <br>
        <br>
        <!-- success/error messages -->
        <div id="updateUserData_alert" ng-class="updateUserData_status" role="alert">
            <a href="#" class="alert-link">{{ updateUserData_response }}</a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
